<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title *ngIf="!showSeacrhBar" text-center> Snippets </ion-title>
    <ion-searchbar *ngIf="showSeacrhBar" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="mostrarSearchBar()"><ion-icon name="{{!showSeacrhBar?'search':'close'}}"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content class="dashboard-content">


  <ion-grid>

    <ion-row>
      <ion-col col-md-3 col-0>
        <ion-buttons start>
          <button ion-button icon-only (click)="addSnippet()"><ion-icon name="add"></ion-icon></button>
        </ion-buttons>
      </ion-col>
      <ion-col col-md-6 col-12>
        <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
        </ion-searchbar>



      </ion-col>
      <ion-col col-md-3 col-0></ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngFor="let item of data" col-lg-4 col-md-6 col-12>
        <ion-card class="borde-sup-rojo">

          <ion-card-content>
            <ion-list>
              <div *ngFor="let field of item.fields;let idx = index">
                <ion-item >
                  <ion-label stacked> {{field?.name}}</ion-label>
                  <ion-textarea id="field_{{field?.id}}" type="text" [readonly]="true" value="{{field?.value}}"></ion-textarea>                 
                </ion-item>
                 <ion-item >                 
                  <button ion-button (click)="copySnippet(field?.id)">Copiar contenido</button>
                </ion-item>
              </div>
            </ion-list>
          </ion-card-content>
          <ion-item>
            <!--<button ion-button item-right (click)="copySnippet(item)">Copiar contenido</button>-->
            <button ion-button item-right (click)="editSnippet(item)">Editar {{ item?.fecha }}</button>
          </ion-item>
          <ion-item>
            <button *ngFor="let tag of item.tags" ion-button item-right (click)="mostrarModalConfirmacion(item)">{{ tag }}</button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>