page-dashboard {
    ion-slides{ max-height:23%;}
    ion-content{
        background: gray;
    }
    .borde-sup-rojo{
        border-top: 4px solid red;
    }
}
 ion-content{
        background: gray;
    }
