<ion-header>

  <ion-navbar>
    <ion-toolbar>
      <ion-buttons end>
        <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
      </ion-buttons>
      <ion-title *ngIf="isWeb">isWeb</ion-title>
      <ion-title *ngIf="!isWeb">not isWeb</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-title *ngIf="!!currentSnippet?.fields || currentSnippet?.fields?.length===0">sdf</ion-title>
  <ion-card class="borde-sup-rojo" *ngIf="currentSnippet">
    <ion-item>
      <h2>{{ currentSnippet?.fecha }}</h2>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let field of currentSnippet?.fields">
          <!--Es Link-->
          <ion-label stacked *ngIf="field?.isLink">
            <a href="{{field?.value}}">{{item?.value}}</a>
          </ion-label>
          <!-- No es Link-->
          <ion-label *ngIf="!field?.isLink" stacked> {{field?.name}}</ion-label>
          <ion-input *ngIf="!field?.isLink" type="text" (blur)="valor1Blured()" value="{{field?.value}}"></ion-input>
        </ion-item>
        <!-- New Field Container-->
        <div class="new-field-container" *ngIf="newField">
          <ion-item>
            <ion-label stacked> Valor 1 </ion-label>
            <ion-input stacked placeholder="valor1" type="text" [(ngModel)]="newValor1"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked> {{ isLink ? 'Dirección' : 'Valor 2'}} </ion-label>
            <ion-input stacked placeholder="valor2" type="text" [(ngModel)]="newValor2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>is Link?</ion-label>
            <ion-checkbox [(ngModel)]="isLink"></ion-checkbox>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
    <ion-list>
      <ion-item>
        <!--<button ion-fab icon-only mini (click)="addFields()"><ion-icon name="add"></ion-icon></button>
        <button ion-fab icon-only mini (click)="cancelNewField()"><ion-icon name="cancel"></ion-icon></button>-->

      </ion-item>
    </ion-list>
    <!--tags-->
    <ion-item>
      <button *ngFor="let tag of currentSnippet?.tags" ion-button item-right>{{ tag }}</button>
    </ion-item>
  </ion-card>

  <!--<ion-item>
    <button (click)="saveSnippet()" big ion-button>Guardar</button>
  </ion-item>-->

  <ion-footer>
    <ion-buttons start>
      <!--<button ion-fab icon-only mini (click)="addFields()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab icon-only mini (click)="cancelNewField()"><ion-icon name="close"></ion-icon></button>-->

      <button icon-right ion-button (click)="addFields()">{{newField ? 'Agregar campo' : 'Nuevo campo'}}<ion-icon *ngIf="!newField" name="add"></ion-icon></button>
      <button *ngIf="newField" icon-right ion-button (click)="cleanNewField()">{{'Limpiar'}}<ion-icon *ngIf="!newField" name="clean"></ion-icon></button>
      <button *ngIf="newField" ion-button icon-only (click)="cancelNewField()"><ion-icon name="remove-circle"></ion-icon></button>

    </ion-buttons>
    <!--<button ion-fab icon-only mini (click)="addFields()"><ion-icon name="add"></ion-icon></button>
      <button ion-fab icon-only mini (click)="cancelNewField()"><ion-icon name="close"></ion-icon></button>-->




  </ion-footer>

</ion-content>






<ion-footer>
  <ion-toolbar>
    <ion-buttons end>
      <button (click)="saveSnippet()" big ion-button>Cancelar</button>
      <button (click)="accept()" big ion-button>Guardar</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>